body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

#container {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        display: grid;
        place-items: center;
        width: 200px;

        &>div {
            display: grid;
            place-items: center;
            width: inherit;
            height: 50px;

            border: 1px solid black;

            text-align: center;
        }
    }
}